<% content_for :title, "Edit Staff Member" %>

<div class="edit-container">
  <div class="form-card">
    <h1 class="form-title">EDITING STAFF RECORD</h1>
    
    <%= render "form", staff: @staff %>
  </div>
</div>