<% content_for :title, "New Staff" %>

<div class="n-wrapper">

  <div class="neumorphic-card text-center">

    <%= render "form", staff: @staff %>

  </div>


  <div style="margin-top: 20px;">
    <%= link_to "â† Back to Staffs", staffs_path, class: "btn-n btn-grey" %>
  </div>
</div>
