<% content_for :title, "Editing Guardian" %>
<%= render "form", guardian: @guardian %>

<div class="n-wrapper">
  <div class="show-actions mt-0" style="max-width: 1400px; margin: auto;">
    <%= link_to "â† Back to Guardians", guardians_path, class: "btn-n btn-grey" %>
    <%= link_to "Show this Guardian", @guardian, class: "btn-n btn-sky" %>
  </div>
</div>
