<div class="n-wrapper">
  <div class="mb-3">
    <%= link_to "â† Back", students_path, class: "btn-n btn-grey" %>
    <%= link_to "View", @student, class: "btn-n btn-sky" %>
  </div>
  
  <%= render "form", student: @student %>
</div>