<% content_for :title, "New student" %>

<%= render "form", student: @student %>

<div class="n-wrapper">
  <div class="show-actions" style="max-width: 1400px; margin: auto;">
    <%= link_to "â† Back to Students", students_path, class: "btn-n btn-grey" %>
  </div>
</div>