<% content_for :title, "Editing department" %>

<%= render "form", department: @department %>

<div class="n-wrapper">
  <div class="show-actions mt-0" style="max-width: 1400px; margin: auto;">
    <%= link_to "â† Back to Departments", departments_path, class: "btn-n btn-grey" %>
    <%= link_to "Show this Department", @department, class: "btn-n btn-sky" %>
  </div>
</div>
