<div class="n-wrapper">
  <div class="mb-3">
    <%= link_to "â† Back", departments_path, class: "btn-n btn-grey" %>
    <%= link_to "View", @department, class: "btn-n btn-sky" %>
  </div>
  
  <%= render "form", department: @department %>
</div>