<div class="n-wrapper">
  <div class="mb-3">
    <%= link_to "â† Back", sections_path, class: "btn-n btn-grey" %>
    <%= link_to "View", @section, class: "btn-n btn-sky" %>
  </div>

  <%= render "form", section: @section %>
</div>