<% content_for :title, "New section" %>

<%= render "form", section: @section %>

<div class="n-wrapper">
  <div class="show-actions mt-0" style="max-width: 1400px; margin: auto;">
    <%= link_to "â† Back to Sections", sections_path, class: "btn-n btn-grey" %>
  </div>
</div>
