<div class="n-wrapper">
  <div class="mb-3">
    <%= link_to "â† Back", subjects_path, class: "btn-n btn-grey" %>
    <%= link_to "View", @subject, class: "btn-n btn-sky" %>
  </div>

  <%= render "form", subject: @subject %>
</div>