<% content_for :title, "New subject" %>

<%= render "form", subject: @subject %>

<div class="n-wrapper">
  <div class="show-actions mt-0" style="max-width: 1400px; margin: auto;">
    <%= link_to "â† Back to Subjects", subjects_path, class: "btn-n btn-grey" %>
  </div>
</div>
