<div class="n-wrapper">
  <div class="mb-3">
    <%= link_to "â† Back", teachers_path, class: "btn-n btn-grey" %>
    <%= link_to "View", @teacher, class: "btn-n btn-sky" %>
  </div>
  
  <%= render "form", teacher: @teacher %>
</div>