<div class="n-wrapper">
  <div class="mb-3">
    <%= link_to "â† Back", classlists_path, class: "btn-n btn-grey" %>
    <%= link_to "View", @classlist, class: "btn-n btn-sky" %>
  </div>

  <%= render "form", classlist: @classlist %>
</div>